<div class="_main-content" ng-class="{'_sm': $mdMedia('sm'), '_gt-sm': $mdMedia('gt-sm')}">
    <div class="_main-content-body">
        <div class="md-whiteframe-z1 md-padding">
            <h3>Task #{{ task.taskData.id }} {{ task.taskData.project_data.name }}</h3>

            <form name="resultsForm">
                <div ng-controller="TemplateController as template" class="template-item"
                     ng-repeat="item in task.taskData.template.template_items">

                    <div md-template-compiler="item" editor="false" instance="template"></div>
                </div>
                <div layout="row" class="task-actions" layout-align="end center">
                    <md-button ng-click="task.submitOrSave(2)"
                               tabindex="0">Submit
                    </md-button>
                    <md-button ng-click="task.submitOrSave(1)"
                               tabindex="0">Save
                    </md-button>
                    <md-button ng-click="task.skip()"
                               tabindex="0">Skip
                    </md-button>
                    <md-button ng-click="toggle = !toggle" class="md-icon-button">
                        <md-tooltip>Show/Hide timer</md-tooltip>
                        <md-icon md-font-set="material-icons"> schedule
                        </md-icon>
                    </md-button>
                    <div>
                        <md-card ng-if="task.timerInstruction" class="timer-instruction">
                            <md-card-content>
                                <div class="instruction-title">Help us calculate your hourly wage.</div>
                                <div class="instruction-body">The timer will tell you how long it takes you to finish this task.</div>
                            </md-card-content>
                            <md-card-actions layout="row" layout-align="end center">
                              <md-button ng-click="task.timerInstruction=false">Got it</md-button>
                            </md-card-actions>
                        </md-card>                        
                        <text  class="taskfeed-timer" ng-show="!toggle"  ng-click="task.timerInstruction=true">{{ task.timer }}</text>
                    </div>
                    <md-button ng-show="!toggle" ng-click="task.pauseandplay()" class="md-icon-button">
                        <md-icon md-font-set="material-icons"> {{ task.buttonType }} </md-icon> 
                    </md-button>
            </div>
            </form>

        </div>
    </div>

</div>
